{{#partial "content"}}
    <dl class="dl-horizontal">
        <dt>UUID</dt>
        <dd><a href="/{{profile.id}}">{{profile.id}}</a></dd>
        <dt>Name</dt>
        <dd>{{profile.name}}</dd>
        <dt>Legacy</dt>
        <dd>{{profile.legacy}}</dd>
        <dt>Demo</dt>
        <dd>{{profile.demo}}</dd>
    </dl>
{{/partial}}

{{#partial "url"}}https://api.mojang.com/users/profiles/minecraft/{{name}}{{/partial}}

{{> layout}}